<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morningwoodsoftware.android.noteomatic"
    android:versionCode="1"
    android:versionName="1.0"
    >
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name=".NoteOMaticApplication"
        android:theme="@style/Holo.Theme.Sherlock.Light.DarkActionBar"
        >
        <!-- activities -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PrefsActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity android:name=".activity.PrefsSimplenoteActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity android:name=".activity.PrefsSortingActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity android:name=".activity.PrefsSyncActivity"
            android:label="@string/app_name"
            >
        </activity>
    </application>

    <!-- permissions -->
</manifest>
